<!DOCTYPE html>
<html>

<head>
  <title>demo sites for tracking script</title>
  <base href="http://localhost:4001" />
  <script type="module" async src="./trackingScript.js">
  </script>
</head>

<body>